# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio
.vs/
*.csproj
*.sln
*.userprefs

# JetBrains Rider
.idea/
*.iml

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
